@model SliderModel

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Yeni Slider</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Yeni Slider</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="card card-primary col-8">
            <form id="quickForm" asp-action="Create" method="post" enctype="multipart/form-data">
                <input asp-for="ImagePath" hidden />
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Title">Başlık</label>
                        <input asp-for="Title" type="text" name="title" class="form-control" placeholder="Başlık">
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderNo">Sıra Numarası</label>
                        <input asp-for="OrderNo" type="number" name="orderNo" class="form-control" placeholder="Sıra Numarası">
                    </div>
                    <div class="form-group">
                        <label asp-for="LanguageId">Dil</label>
                        <select asp-for="LanguageId" asp-items="@Model.LanguageList" name="LanguageId" class="form-control">
                            <option disabled selected>--Dil Seçiniz--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImagePath">Resim</label>
                        <div class="custom-file">                            
                            <input type="file" id="uploadBox" name="file" class="custom-file-input" />
                            <label class="custom-file-label">Dosya Seçiniz</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <input type="submit" onclick="return ValidateInput()" value="Kaydet" class="btn bg-gradient-primary" style="width:25%" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

<script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="~/plugins/jquery-validation/additional-methods.min.js"></script>

<script>

    $(function () {
      $('#quickForm').validate({
        rules: {
          title:{
              required: true,
              maxlength: 150,
          },
          orderNo:{
              required: true,
              min: 1,
          },
          LanguageId:{
              required: true
          },
        },
        messages: {
          title: {
            required: "Bu alan gereklidir.",
            maxlength: "Başlık alanı en fazla 150 karakterden oluşmalıdır."
          },
          orderNo: {
            required: "Bu alan gereklidir.",
            min: "Sıra numarası en az 1 olabilir."
          },
          LanguageId:{
              required: "Bu alan gereklidir."
          },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid').removeClass('is-valid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).addClass('is-valid').removeClass('is-invalid')
        }
      });
    });

    function ValidateInput(){
            if(document.getElementById("uploadBox").value==""){
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Lütfen bir resim yükleyin!'
                });
                return false;
            }
            return true;
        };
        
    $(function () {
      bsCustomFileInput.init();
    });

</script>
}